@font-face {
    font-family: 'Futura';
    src:url(fonts/Futura.ttc) format(truetype);
    font-weight: normal;
    font-style: normal;
}


h1 {
    color: rosybrown;
    padding: 30px;
}

p {
    color: darkred;
    margin-left: 15px;
}


body {
    background-color: aliceblue;
    text-align: center;
    display:flex;
    flex-direction:column;
    font-family: 'Futura', Arial, Helvetica, sans-serif;
    font: 'Futura';
    
}